[submodule ".themes/Nordic-Polar"]
	path = .themes/Nordic-Polar
	url = https://github.com/EliverLara/Nordic-Polar
[submodule ".themes/Dracula"]
	path = .themes/Dracula
	url = https://github.com/dracula/gtk
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
