[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".themes/Nordic-Polar"]
	path = .themes/Nordic-Polar
	url = https://github.com/EliverLara/Nordic-Polar
[submodule ".themes/Dracula"]
	path = .themes/Dracula
	url = https://github.com/dracula/gtk
